/*
Nombre: [Ignacio Carrillo] 
Curso: [ASIR1] 
Fecha: [05/03/2025] 
Ejercicio: [Ejercicio 4] 
*/
body {
    display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.objetos{ width: 100px; height: 100px; display: flex; justify-content: center; align-items: center;
}
#elemento1{ background-color: green;}
#elemento2{ background-color: blue;}
#elemento3{ background-color: red;}