/*
Nombre: [Ignacio Carrillo] 
Curso: [ASIR1] 
Fecha: [04/03/2025] 
Ejercicio: [Ejercicio 3] 
*/
.cajaej3{ width: 300px; height: 150px; background-color: yellow; border: 5px solid blue; padding: 10px; margin: 20px; text-align: center;
}